* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}


.inicio h1 {
    color: white;
    text-align: center;
    margin-top: 20px;
}

.board {
    margin-top: 15em;
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
    background: rgba(255, 255, 255, 0.5) !important;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid white 2px;
    position: relative;
}

/* Desabilitar cursor */
.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}

/* X */
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content: "";
    height: calc(100px * 0.15);
    width: calc(100px * 0.9);
    background: white;
    position: absolute;
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle)::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle)::after {
    transform: rotate(-45deg);
}
/* Bola */
.cell.circle::after,
.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
    content: "";
    height: calc(100px * 0.9);
    width: calc(100px * 0.9);
    background: white;
    position: absolute;
    border-radius: 50%;
}

/* mensagem*/
.mensagem {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
}

.mensagem button {
    font-size: 2.5rem;
    margin-top: .5em;
    background-color: pink;
    padding: 10px 15px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease;
}

.mensagem button:hover {
    color: pink;
    background-color: white;
}

.mensagem p {
    font-size: 4rem;
    color: white;
}
.mostrar-mensagem-vitoria{
    display: flex;
}